@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-theme: #4f46e5;
    --white: #f8fafc;
}
.container {
    display: grid;
    grid:   "sidebar header"
            "sidebar main" / 1fr 4fr;
    font-family: "Noto Sans" , sans-serif;
}

.header {
    grid-area: header;
    display: grid;
    grid: 1fr 1fr / 2fr 1fr;
    padding: 15px;
}

.header div {
    display: flex;
    align-items: center;
}
.searchbar img {
    width: 1.3rem;
    margin-right: 1rem;
}

.searchbar input {
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    border: 0px;
    background: rgb(217, 217, 217);
    border-radius: 10px;
    opacity: 0.5;
}

.user-info {
    justify-content: center;
    gap: 2rem;
    font-weight: bold;
}
.user-info img:first-child{
    width: 1.4rem;
}
.user-info img:nth-child(2) {
    width: 3rem;
    border-radius: 50%;
}

.greeting {
    gap: 2rem;
}

.greeting img{
    width: 4rem;
    border-radius: 50%;
}

.greeting span:first-child {
    font-size: 1rem;
    font-weight: bold;
}
.greeting span:nth-child(3) {
    font-size: 2rem;
    font-weight: bold;
}

.header button {
    background-color: var(--color-theme);
    color: var(--white);
    padding: 0.5rem 2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 0px;
    box-shadow: 0px 0px 5px black;
    font-weight: bold;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

main {
    grid-area: main;
    display: grid;
    grid:   "projects announcements"
            "projects trending" 
            / 3fr 1fr;
    background-color: #e2e8f0;
    box-shadow: 0px 0px 5px black;
}

.projects {
    grid-area: projects;
    display: grid;
    grid: auto/ 1fr 1fr;
    grid-template-rows: repeat(1, min-content);
    padding: 15px;
}

.projects > p{
    grid-column: 1 / -1;
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    position: relative;
    overflow: hidden;
    height: 210px;
    background-color: var(--white);
    margin: 5px;
    border-radius: 10px;
    padding: 20px 10px;
    border-left: solid 10px yellow;
    box-shadow: 1px 1px 1px rgb(168, 168, 168);
}
.card > p:first-child {
    font-weight: bold;
}

.card-icons {
    display: flex;
    position: absolute;
    left: 20rem;
    top: 10rem;
    width: 2rem;
    gap: 40px;
}
.announcements {
    grid-area: announcements;
    padding: 15px;
}
.announcements > p {
    font-weight: bold;
    font-size: 1.5rem;
}
.announcements-card {
    font-size: 0.8rem;
    box-shadow: 1px 1px 1px rgb(168, 168, 168);
}
.announcements-card div {
    padding: 15px;
}

.announcements-card .announcements-heading {
    font-weight: bold;
}
.announcements-card .line-break {
    border-top: 1px solid rgb(185, 185, 185);
    width: 20rem;
    padding: 0px;
    margin: auto;
}

.announcements > div {
    background-color: var(--white);
    border-radius: 10px;
}

.trending {
    grid-area: trending;
    padding: 15px;
}
.trending-card {
    box-shadow: 1px 1px 1px rgb(168, 168, 168);
    padding: 20px 50px;
}

.trending img {
    width: 3rem;
    border-radius: 50%;
}
.trending-card div {
    display: flex;
    font-size: 0.8rem;
    gap: 10px;
    align-items: flex-start;
    padding: 5px;
}
.trending > p {
    font-weight: bold;
    font-size: 1.5rem;
}

.trending > div {
    background-color: var(--white);
    border-radius: 10px;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--color-theme);
    color: var(--white);
    display: grid;
    justify-content: center;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 20px;
    height: fit-content;
}
.sidebar li::before {
    width: 2rem;
    height: 2rem;
}

.sidebar li:nth-child(1)::before {
    content: url(./images/odin-logo.svg);
    width: auto;
    height: auto;
}
.sidebar li:nth-child(2)::before {
    content: url(./images/home.svg);
}
.sidebar li:nth-child(3)::before {
    content: url(./images/card-account-details.svg);
}
.sidebar li:nth-child(4)::before {
    content: url(./images/message-reply.svg);
}
.sidebar li:nth-child(5)::before {
    content: url(./images/history.svg);
}
.sidebar li:nth-child(6)::before {
    content: url(./images/calendar-check.svg);
}
.sidebar li:nth-child(7)::before {
    content: url(./images/account-group-outline.svg);
}
.sidebar li:nth-child(8)::before {
    content: url(./images/cog.svg);
}
.sidebar li:nth-child(9)::before {
    content: url(./images/tooltip-question.svg);
}
.sidebar li:nth-child(10)::before {
    content: url(./images/security.svg);
}

.sidebar a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
}

.logo a{
    font-size: 2.5rem;
}
.sidebar ul {
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(10, min-content);
    gap: 25px;
}

