* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid:   "sidebar header"
            "sidebar main" / 1fr 4fr;
}

.header {
    grid-area: header;
    display: grid;
    grid: 1fr 1fr / 2fr 1fr;
    box-shadow: 0px 1px 2px gray;
    padding: 15px;
}

.header div {
    display: flex;
    align-items: center;
}
.searchbar img {
    width: 2rem;
    border: 1px solid black;
}

.searchbar {

}
.searchbar input {
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    border: 0px;
    background: rgb(217, 217, 217);
    border-radius: 10px;
    opacity: 0.5;
}

.user-info {
    justify-content: center;
    gap: 2rem;
    font-weight: bold;
}
.user-info img:first-child{
    width: 2rem;
    border: 1px solid black;
}
.user-info img:nth-child(2) {
    width: 3rem;
    border-radius: 50%;
}

.greeting {
    gap: 2rem;
}

.greeting img{
    width: 4rem;
    border-radius: 50%;
}

.greeting span:first-child {
    font-size: 1rem;
    font-weight: bold;
}
.greeting span:nth-child(3) {
    font-size: 2rem;
    font-weight: bold;
}

.header button {
    background-color: aqua;
    color: white;
    padding: 0.5rem 2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 0px;
    box-shadow: 0px 0px 10px black;
    font-weight: bold;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

main {
    grid-area: main;
    display: grid;
    grid:   "projects announcements"
            "projects trending" 
            / 3fr 1fr;
    background-color: #cfcfcf;
}

.projects {
    grid-area: projects;
    display: grid;
    grid: auto/ 1fr 1fr;
    grid-template-rows: repeat(1, min-content);
    padding: 15px;
}

.projects > p{
    grid-column: 1 / -1;
    font-size: 1.5rem;
}

.card {
    height: 200px;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    padding: 40px;
}

.announcements {
    grid-area: announcements;
    padding: 15px;
}
.announcements-card div {
    padding: 15px;
}

.announcements > div {
    background-color: white;
    border-radius: 10px;
}

.trending {
    grid-area: trending;
    padding: 15px;

}
.trending img {
    width: 3rem;
    border-radius: 50%;
}
.trending-card div {
    display: flex;
    padding: 10px;
}
.trending p {
    margin-left: 15px;
}

.trending > div {
    background-color: white;
    border-radius: 10px;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(29, 136, 224);
    color: white;
    display: grid;
    justify-content: center;
}

.sidebar li {
    display: flex;
    align-items: center;
    gap: 20px;
    height: fit-content;
}
.sidebar li::before {
    width: 2rem;
    height: 2rem;
}

.sidebar li:nth-child(1)::before {
    content: url(./images/odin-logo.svg);
    width: auto;
    height: auto;
}
.sidebar li:nth-child(2)::before {
    content: url(./images/home.svg);
}
.sidebar li:nth-child(3)::before {
    content: url(./images/home.svg);
}
.sidebar li:nth-child(4)::before {
    content: url(./images/home.svg);
}
.sidebar li:nth-child(5)::before {
    content: url(./images/home.svg);
}
.sidebar li:nth-child(6)::before {
    content: url(./images/home.svg);
}
.sidebar li:nth-child(7)::before {

    content: url(./images/account-group-outline.svg);
}
.sidebar li:nth-child(8)::before {
    content: url(./images/home.svg);
}
.sidebar li:nth-child(9)::before {
    content: url(./images/home.svg);
}
.sidebar li:nth-child(10)::before {
    content: url(./images/home.svg);
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.logo a{
    font-size: 2.5rem;
}
.sidebar ul {
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(10, min-content);
    gap: 25px;
}

